<!-- <h1 id="header"> This is working???</h1> -->
<h1 id = "header"> Routinely </h1>
<p id = "tagline"> keeping tabs on your progress <p>

<% @routines.each do |r|%>
<ul>
	<%= r.routine_name %>
	<%= link_to "View Routine", routine_path(r) %>
	<%= link_to "Delete Routine", routine_path(r) , method: :delete %>
</ul>


<% end %>


